/* Dark mode colors. */
:root {
  --sl-color-accent-low: #081e55;
  --sl-color-accent: #114eff;
  --sl-color-accent-high: #aec9ff;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c8c8c8;
  --sl-color-gray-3: #a4a4a4;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c3d7ff;
  --sl-color-accent: #0032ea;
  --sl-color-accent-high: #052480;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-gray-7: #f6f6f6;
  --sl-color-black: #ffffff;
}

/* whole lotta resizing bullshit down here*/
:root {
  --sl-sidebar-width: 14rem;
  --sl-content-width: 50rem;
}

/* for 1366x768 */
@media screen and (min-width: 1366px) and (max-width: 1439px) {
  :root {
    --sl-sidebar-width: 13rem;
    --sl-content-width: 60rem;
  }
}

/* for 1440x900 and retina mac */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  :root {
    --sl-sidebar-width: 18rem;
    --sl-content-width: 50rem;
  }
}

/* for 1920x1080 */
@media screen and (min-width: 1920px) and (max-width: 3839px) {
  :root {
    --sl-sidebar-width: 15rem;
    --sl-content-width: 90rem;
  }
}

/* for 3840x2160 */
@media screen and (min-width: 3840px) {
  :root {
    --sl-sidebar-width: 22rem;
    --sl-content-width: 180rem;
  }
}

/* end of resizing bullshit */

/* here's some table stuff*/

table td,
table th {
  padding: 1.0rem 1.0rem;
  border: 1px solid var(--sl-color-gray-5);
  vertical-align: middle;
}

table tr:nth-child(even) td {
  background: var(--sl-color-gray-6);
}

/* end of table stuff*/

/* keep this so images don't settle above text */
.sl-markdown-content :is(img, picture, video, canvas, svg, iframe):not(:where(.not-content *)) {
  display: inline-block !important;
  vertical-align: middle;
}

/* end */

.sl-sidebar ul[role="list"] > li[role="listitem"] ul {
  display: none;
}

.sl-sidebar ul[role="list"] > li[role="listitem"].is-active ul {
  display: block;
}

